---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import { Image } from "astro-lqip/components";
import "@fancyapps/ui/dist/fancybox/fancybox.css";
import car from "../assets/car.jpg";
import tree from "../assets/tree.jpg";
import building from "../assets/building.jpg";
import Grid from "../components/Grid.astro";
import Cell from "../components/Cell.astro";
import BodyText from "../components/BodyText.astro";
import Greetings from "../components/Greetings.astro";
import Logo from "../components/Logo.astro";
import Nav from "../components/Nav.astro";
---

<Layout>
  <Header>
    <Logo />
    <Nav />
    <Greetings greeting="Photos, and other visual venture" />
  </Header>

  <main class="page-content">
    <Grid>
      <Cell width={2}>
        <h4>Lorem Ipsum</h4>
        <BodyText>
          Losrem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum
        </BodyText>
      </Cell>

      <Cell>
        <a
          style={`--width: ${car.width}; --height: ${car.height};`}
          href={car.src}
          target="_blank"
          data-fancybox
          class="post-cell"
        >
          <Image src={car} alt="A description of my image." loading={"eager"} />
        </a>
      </Cell>
      <Cell>
        <a
          style={`--width: ${tree.width}; --height: ${tree.height};`}
          href={tree.src}
          target="_blank"
          data-fancybox
          class="post-cell"
        >
          <Image
            src={tree}
            alt="A description of my image."
            loading={"eager"}
          />
        </a>
      </Cell>
      <Cell>
        <a
          style={`--width: ${building.width}; --height: ${building.height};`}
          href={building.src}
          target="_blank"
          data-fancybox
          class="post-cell"
        >
          <Image
            src={building}
            alt="A description of my image."
            loading={"eager"}
          />
        </a>
      </Cell>

      <div class="post-cell">
        <Image src={car} alt="A description of my image." />
      </div>

      <Cell height={2} width={2}>
        <a
          style={`--width: ${car.width}; --height: ${car.height};`}
          href={car.src}
          target="_blank"
          data-fancybox
          class="post-cell"
        >
          <Image src={car} alt="A description of my image." loading={"eager"} />
        </a>
      </Cell>
      <div class="post-cell span-w-2 span-h-2">
        <Image src={car} alt="A description of my image." />
      </div><div class="post-cell">
        <Image src={car} alt="A description of my image." />
      </div><div class="post-cell">
        <Image src={car} alt="A description of my image." />
      </div>
      <Cell height={2}>
        <h4>Lorem Ipsum</h4>

        <BodyText>
          Losrem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum. Excepteur sint
          occaecat cupidatat non proident, sunt in culpa qui officia deserunt
          mollit anim id est laborum. Excepteur sint occaecat cupidatat non
          proident, sunt in Excepteur sint occaecat cupidatat non proident, sunt
          in culpa qui officia deserunt mollit anim id est laborum
        </BodyText>
      </Cell>

      <div class="post-cell">
        <Image src={car} alt="A description of my image." />
      </div>
      <div class="post-cell">
        <Image src={car} alt="A description of my image." />
      </div>
      <div class="post-cell">
        <Image src={car} alt="A description of my image." />
      </div>
    </Grid>
  </main>
</Layout>

<script>
  import { Fancybox } from "@fancyapps/ui/dist/fancybox/";

  Fancybox.bind("[data-fancybox]", {
    theme: "auto",
    mainStyle: {
      "--f-button-width": "44px",
      "--f-button-height": "44px",
      "--f-toolbar-padding": "16px",
    },
    Carousel: {
      Arrows: false,
      Toolbar: {
        display: {
          left: [],
          middle: [],
          right: ["close"],
        },
      },
    },
  });
</script>

<style>
  a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
</style>
